#features {
  min-height: 100vh;
}

.how-it-works-table {
  .card {
    .card-title {
      font-size: 1.2rem;
      letter-spacing: .2rem;
    }

    .card-text {
      font-size: 1rem;
    }
  }
}

.pricing-table {
  .card {
    .card-title {
      font-size: 1.2rem;
      letter-spacing: .2rem;
    }

    .card-price {
      font-size: 2.7rem;

      .term {
        font-size: .875rem;
      }
    }

    .list-group-item-action {
      font-size: 1.2rem;
    }
  }
}

