body {
  background: #f8f9fa;
  min-height: 100vh;

  .peach-gradient {
    background: -webkit-linear-gradient(50deg,#FFD86F,#FC6262)!important;
    background: -o-linear-gradient(50deg,#FFD86F,#FC6262)!important;
    background: linear-gradient(40deg,#FFD86F,#FC6262)!important
  }

  .blue-gradient {
    background: -webkit-linear-gradient(50deg,#303f9f,#2096ff,#3571cd,#45cafc)!important;
    background: -o-linear-gradient(50deg,#303f9f,#2096ff,#3571cd,#45cafc)!important;
    background: linear-gradient(40deg,#303f9f,#2096ff, #3571cd,#45cafc)!important;
  }

  .aqua-gradient {
    background: -webkit-linear-gradient(50deg,#2096ff,#05ffa3)!important;
    background: -o-linear-gradient(50deg,#2096ff,#05ffa3)!important;
    background: linear-gradient(40deg,#2096ff,#05ffa3)!important
  }
}
